@use '@styles/base/variables/layout-variables' as layoutVar;

.nav {
  height: 100vh;
  width: layoutVar.$left-side-bar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #61677a;
  padding-top: 80px;
}
